.gktpp-input-table {
     margin: 0 auto;
     width: 750px;
}

table.gktpp-input-table tbody tr {
     padding: 10px 0;
}

table.gktpp-input-table tbody tr td {
     text-align: center;
     vertical-align: middle;
}

@media screen and (max-width: 800px) {
     table.gktpp-input-table {
          width: 95%;
     }
}


.gktpp-admin-pic {
     display: block;
     margin: 0 auto;
     max-width: 95%;
     height: auto;
     border: 2px solid #bbb;
}

div.gktpp-code-block {
     margin: 0 auto;
     width: 650px;
     max-width: 95%;
}

table.someurls #someURL {
     width: 50%;
}

table.someurls thead tr th {
     max-width: 10% !important;
}



#gktpp-enter-data {
     width: 750px;
}




.warning {
     background-color: rgba(255,179,179,0.15);
     border: 1px solid #ff9a9a;
}

.gktpp-help-tip-hint:after {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     font-family: 'Dashicons';
     font-weight: 400;
     font-variant: normal;
     line-height: 1;
     margin: 0;
     text-indent: 0;
     text-align: center;
     content: "";
     cursor: help;
     color: #555;
}

#gktpp-prec-tip {
     margin-top: -105px;
     margin-right: 0;

}

#gktpp-prec-tip span:before {
     border: transparent;
}

.gktpp-help-tip-box {
     position: absolute;
     display: none;
     max-width: 350px;
     max-height: 150px;
     margin-left: -58px;
     background-color: #444;
     z-index: 100;
     border-radius: 4px;
}

.gktpp-help-tip-box span:before {
     display: block;
     position: absolute;
     border-color: transparent transparent #444 transparent;
     border-style: solid;
     border-width: 6px;
     content: "";
     height: 0;
     width: 0;
     left: 1px;
     top: -10px;
     z-index: 200;
}

.gktpp-help-tip-box span {
     display: block;
     color: #fff;
     padding: 8px;
}
