p#gktpp-error-message {
    display: none;
}

.gktpp-table {
    width: 95%;
    max-width: 750px;
    margin: 0 auto 30px;
}

.gktpp-collapse-btn:hover {
    cursor: pointer;
}

div.gktpp-collapse-box.hide {
    display: none;
}

form.gktpp-form {
    text-align: center;
    padding: 0 0 20px;
}

form.gktpp-form.contact {
    display: block;
    margin: 0 auto;
    min-height: 200px;
}

form.gktpp-form.contact textarea,
form.gktpp-form.contact input {
    display: block;
    margin: 10px auto;
}

form.gktpp-form.contact textarea {
    width: 350px;
    height: 100px;
    border: 1px solid #ccc;
}

form.gktpp-form.contact input.gktpp-email {
    width: 300px;
    height: 35px;
    border: 1px solid #ccc;
}

button.handlediv {
    margin-top: -7px !important;
    margin-right: 7px !important;
}

span.gktpp-toggle-indicator:before {
    content: "\f142";
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

span.gktpp-toggle-indicator.active:before {
    transform: rotate(180deg);
}

table.gktpp-table tbody tr {
    padding: 10px 0;
}

table.gktpp-table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.gktpp-admin-pic {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    height: auto;
    border: 2px solid #bbb;
}

div.gktpp-code-block {
    margin: 0 auto;
    width: 650px;
    max-width: 95%;
}

table.urls th#url {
    width: 50%;
}

table.urls thead tr th {
    max-width: 10% !important;
}

/* Hover hints */
.gktpp-hint {
    text-align: center;
    display: inline;
}

button.gktpp-help-tip-hint {
    background: inherit;
    border: none;
    padding: 0;
}

button.gktpp-help-tip-hint p {
    max-width: 250px;
    margin-left: -5px;
}

button.gktpp-help-tip-hint.before:before,
button.gktpp-help-tip-hint.after:after {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dashicons';
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    margin: 0;
    text-indent: 0;
    text-align: center;
    content: "ïˆ£";
    cursor: help;
    color: #555;
}

button.gktpp-help-tip-hint:hover p {
    display: block;
}

.gktpp-help-tip-box {
    position: absolute;
    display: none;
    background-color: #444;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff !important;
    padding: 10px;
    z-index: 100;
}

.gktpp-help-tip-box::before {
    position: absolute;
    left: 5px;
    top: -13px;
    content: " ";
    border-color: transparent transparent #444 transparent;
    border-style: solid;
    border-width: 7px;
    width: 0;
    height: 0;
}

div.gktpp-div {
    margin: 30px auto;
}
